#headingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#map {
  width: 30rem;
  height: 30rem;
  margin: 2rem;
}
#mapContainer {
  display: flex;
  justify-content: center;
}
#searchContainer {
  display: flex;
  justify-content: center;
}
#searchResultsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
}
#searchLabel {
  margin-right: 2rem;
  font-size: 1.5rem;
}
#searchMsg {
  margin: 0 0 0 2rem;
}
